.descricao__certificados{
    text-align: center;
    margin: 0 2em;
    font-size: 16px;
}

.carrossel__descricao{
    text-align: center;
}


.carrossel{
    width: 100%;
    margin: 2em 0;

}

.carrossel__item{
    width: 250px;
}

.swiper-pagination{
    position: relative ;
    padding: 0.5em 0;
}

    @media screen and (min-width:600px){
        .carrossel__item{
            width: 320px;
        }        
        
    }

    @media screen and (min-width:768px){
        .carrossel__item{
            width: 380px;
        }

    }

    @media screen and (min-width:992px){
        .carrossel__item{
            width: 450px;
        }

    }




