.descricao__certificados{
    margin: 0 2em;
    font-size: 16px;
}

.carrossel__descricao{
    text-align: center;
}


.carrossel{
    width: 100%;
    margin: 2em 0 4em 0;

}

.carrossel__item{
    width: 250px;
}

.swiper-pagination{
    position: relative ;
    padding: 0.5em 0;
}



