@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/apresentacao.css);
@import url(styles/footer.css);
@import url(styles/lista-contatos.css);
@import url(styles/es-cotacoes.css);
@import url(styles/es-formulario.css);


:root{
    --cor-de-fundo: #E5E5E5;
    --branco: #FFFFFF;
    --laranja: #EAB308;
    --cor-fonte-padrao: #000000;
    --cinza-degrade: linear-gradient(180deg, #868F96 0%, #5A6265 100%);
    --fonte-principal:"poppins"

    
}


body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}

h4{
    text-align: center;
    font-size: 20px;
    margin: 1em 0;
    color: var(--laranja);
    font-weight: 900;
}

form{

    width: 80%;
    margin: 2.5% auto;
    line-height: 2em;
}