.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.cabeçalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;                  
    background-position: center;                    
    display: inline-block;
    background-image: url("../img/Menu.svg");
    margin: 0 1em;
    
}

.container__imagem{
    width: 50px;
}

.imagem-logo{
    margin: 0 5%;
}


#Logo__Alison-Dev{
    width: 100px;

}

#social-logo{
    width: 35px;
    padding: 0.3em;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    width: 50vw;
}

.container__botao:checked ~ .lista-menu{
    display: block
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco);

}

.container__botao{
    display: none;
}

.lista-menu__link{
    text-decoration: none;
    background: var(--cor-fonte-padrao);       
    -webkit-background-clip: text;                  
    -webkit-text-fill-color: transparent;           
    background-clip: text;                           
    text-transform: uppercase;  
}


